* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Work Sans", sans-serif;
   max-width: 1000px;
   max-height: 1000px;
}
 
body {
   background-color: rgb(1, 255, 213);
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
}

.ol {
   border: 5px solid black;
}

.image {
   display: inline-block;
   display: flex;
   justify-content: space-between;
   align-items: baseline;
   width: 257px;
   height: 200px;
}

.img1, .img2, .img3 {
   width: 257px;
   height: 200px;
}